<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
</head>
<body>
<header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
    </nav>
</header>
<h1>Password generator</h1>
<form action="{% url 'password' %}">
    <label for="select">Length</label>
    <select name="length" id="select">
        <option value="6">6</option>
        <option value="8">8</option>
        <option value="10">10</option>
        <option value="12" selected>12</option>
        <option value="16">16</option>
        <option value="20">20</option>
    </select>
    <br/>
    <label for="numbers">Numbers</label>
    <input value="numbers" name="numbers" type="checkbox" id="numbers">
    <br/>
    <label for="upper">Upper</label>
    <input value="numbers" name="upper" type="checkbox" id="upper">
    <br/>
    <label for="special">Special</label>
    <input value="numbers" name="special" type="checkbox" id="special">
    <br/>
    <input type="submit" value="Generate Password">
</form>

</body>
</html>