body {
    background-color: lightgray;
}

.form-check-input {
    border-color: #0dcaf0;
}

.form-check-input:checked {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

input {
    margin-left: 20px;
}

.password {
    cursor: pointer;
}

.form-select {
    margin-left: 15px;
}