    <section class="about-us">
        <div class="container container--about-us">
            <div class="about-us__content-wrapper">
                <h2 class="heading heading--h2">About the Service</h2>
                <p class="text text--white">
                    Any trip is more fun with companions who are on the same wavelength as you! Share your travel ideas
                    and get inspired by others.
                </p>
                <p class="text text--white text--bold about-us__bold-text">
                    <b>And if you find someone kindred in spirit, invite them to join your trip!</b>
                </p>
                <a class="button button--squared about-us__button" href="">LEARN MORE</a>
            </div>
        </div>
    </section>