{% load static %}

<section class="directions">
    <div class="container">
        <div class="directions__common-wrapper">
            <div class="directions__content-wrapper">
                <h2 class="heading heading--h2 directions__heading">
                    Destinations
                </h2>
                <p class="text">
                    We don't sell tours or advertise anything. People themselves write about the countries they
                    would like to visit and what can be done there.
                </p>
            </div>
            <div class="directions__item-wrapper">
                <section class="directions-card directions__item">
                    <a class="directions-card__link-wrapper" href="">
                        <div class="directions-card__image">
                            <picture>
                                <source type="image/webp" media="(min-width: 768px)" srcset="
                          {% static 'img/travel_fellows/thailand-desktop' %}@1x.webp 1x,
                          {% static 'img/travel_fellows/thailand-desktop' %}@2x.webp 2x
                        ">
                                <source type="image/webp" srcset="
                          {% static 'img/travel_fellows/thailand-mobile' %}@1x.webp 1x,
                          {% static 'img/travel_fellows/thailand-mobile' %}@2x.webp 2x
                        ">
                                <source media="(min-width: 768px)" srcset="
                          {% static 'img/travel_fellows/thailand-desktop' %}@1x.jpg 1x,
                          {% static 'img/travel_fellows/thailand-desktop' %}@2x.jpg 2x
                        ">
                                <img class="directions-card__picture"
                                     src="{% static 'img/travel_fellows/thailand-mobile' %}@1x.jpg" srcset="
                          {% static 'img/travel_fellows/thailand-mobile' %}@1x.jpg 1x,
                          {% static 'img/travel_fellows/thailand-mobile' %}@2x.jpg 2x
                        " alt="Trip to Thailand" width="270" height="110">
                            </picture>
                        </div>
                        <div class="directions-card__content-wrapper">
                            <div class="country-flag country-flag--directions country-flag--big  directions-card__flag"
                                 data-tooltip="Thailand">
                                <img class="country-flag__picture"
                                     src="{% static 'img/travel_fellows/flag-thailand.svg' %}" alt="Флаг Таиланда"
                                     width="35" height="24">
                            </div>
                            <div class="directions-card__info-wrapper">
                                <div class="directions-card__title-wrapper">
                                    <h3 class="directions-card__title">Thailand</h3>
                                    <p class="directions-card__description">
                                        The jungle is calling!
                                    </p>
                                </div>
                                <p class="directions-card__users">18321</p>
                            </div>
                        </div>
                    </a>
                </section>
                <section class="directions-card directions__item">
                    <a class="directions-card__link-wrapper" href="">
                        <div class="directions-card__image">
                            <picture>
                                <source type="image/webp" media="(min-width: 768px)" srcset="
                          {% static 'img/travel_fellows/france-desktop' %}@1x.webp 1x,
                          {% static 'img/travel_fellows/france-desktop' %}@2x.webp 2x
                        ">
                                <source type="image/webp" srcset="
                          {% static 'img/travel_fellows/france-mobile' %}@1x.webp 1x,
                          {% static 'img/travel_fellows/france-mobile' %}@2x.webp 2x
                        ">
                                <source media="(min-width: 768px)" srcset="
                          {% static 'img/travel_fellows/france-desktop' %}@1x.jpg 1x,
                          {% static 'img/travel_fellows/france-desktop' %}@2x.jpg 2x
                        ">
                                <img class="directions-card__picture"
                                     src="{% static 'img/travel_fellows/france-mobile' %}@1x.jpg" srcset="
                          {% static 'img/travel_fellows/france-mobile' %}@1x.jpg 1x,
                          {% static 'img/travel_fellows/france-mobile' %}@2x.jpg 2x
                        " alt="Trip to France" width="270" height="110">
                            </picture>
                        </div>
                        <div class="directions-card__content-wrapper">
                            <div class="country-flag country-flag--directions country-flag--big directions-card__flag"
                                 data-tooltip="France">
                                <img class="country-flag__picture"
                                     src="{% static 'img/travel_fellows/flag-france.svg' %}" alt="Флаг Франции"
                                     width="35" height="24">
                            </div>
                            <div class="directions-card__info-wrapper">
                                <div class="directions-card__title-wrapper">
                                    <h3 class="directions-card__title">France</h3>
                                    <p class="directions-card__description">
                                        Très bien, magnifique!
                                    </p>
                                </div>
                                <p class="directions-card__users">12518</p>
                            </div>
                        </div>
                    </a>
                </section>
                <section class="directions-card directions__item">
                    <a class="directions-card__link-wrapper" href="">
                        <div class="directions-card__image">
                            <picture>
                                <source type="image/webp" media="(min-width: 768px)" srcset="
                          {% static 'img/travel_fellows/czech-desktop' %}@1x.webp 1x,
                          {% static 'img/travel_fellows/czech-desktop' %}@2x.webp 2x
                        ">
                                <source type="image/webp" srcset="
                          {% static 'img/travel_fellows/czech-mobile' %}@1x.webp 1x,
                          {% static 'img/travel_fellows/czech-mobile' %}@2x.webp 2x
                        ">
                                <source media="(min-width: 768px)" srcset="
                          {% static 'img/travel_fellows/czech-desktop' %}@1x.jpg 1x,
                          {% static 'img/travel_fellows/czech-desktop' %}@2x.jpg 2x
                        ">
                                <img class="directions-card__picture"
                                     src="{% static 'img/travel_fellows/czech-mobile' %}@1x.jpg" srcset="
                          {% static 'img/travel_fellows/czech-mobile' %}@1x.jpg 1x,
                          {% static 'img/travel_fellows/czech-mobile' %}@2x.jpg 2x
                        " alt="Trip to Czech Republic" width="270" height="110">
                            </picture>
                        </div>
                        <div class="directions-card__content-wrapper">
                            <div class="country-flag country-flag--directions country-flag--big directions-card__flag"
                                 data-tooltip="Чехия">
                                <img class="country-flag__picture"
                                     src="{% static 'img/travel_fellows/flag-czech.svg' %}" alt="Флаг Чехии"
                                     width="35" height="24">
                            </div>
                            <div class="directions-card__info-wrapper">
                                <div class="directions-card__title-wrapper">
                                    <h3 class="directions-card__title">Czech Republic</h3>
                                    <p class="directions-card__description">
                                        Corners of Old Europe
                                    </p>
                                </div>
                                <p class="directions-card__users">5326</p>
                            </div>
                        </div>
                    </a>
                </section>
            </div>
            <div class="directions__button-wrapper">
                <a class="button button--squared" href="form.html">Show All</a>
            </div>
        </div>
    </div>
</section>