<div class="card d-flex align-items-center">
    <div class="image-container">
        <div class="first">
            <div class="d-flex justify-content-between align-items-center">
                <span class="progress">99 level</span>
            </div>
        </div>
        <img src="https://i.imgur.com/8JIWpnw.jpg" class="img-fluid rounded thumbnail-image">
    </div>
    <div class="product-detail-container p-2">
         <div class="d-flex justify-content-around countries">
            <span class="country-flag">flag</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="user-name"><span class="status">Online</span>User Name</h5>
        </div>
        <div class="d-flex justify-content-between align-items-center pt-1">
            <div class="d-flex ">
                <span class="hashtag mr-2 btn" type="button">#hashtag</span>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center pt-1">
            <span>Air</span>
            <span>Bus</span>
            <span>Bicycle</span>
            <span>Hiking</span>
        </div>


    </div>

</div>