<footer class="page-footer">
    <div class="container">
        <div class="page-footer__content-wrapper">
            <a class="logo page-footer__logo">
                Travel Fellows
            </a>
            <ul class="social page-footer__social-list">
                <li class="page-footer__social-item">
                    <a class="social-button social-button--fb" href="" target="_blank"><span class="visually-hidden">Facebook</span></a>
                </li>
                <li class="page-footer__social-item">
                    <a class="social-button social-button--instagram" href="" target="_blank"><span
                            class="visually-hidden">Instagram</span></a>
                </li>
            </ul>
            <div class="page-footer__bottom-wrapper">
                <p class="page-footer__paragraph">Pet Project</p>
                <a class="academy-logo page-footer__academy-logo" href="https://github.com/Alonasa"
                   target="_blank"><span class="visually-hidden">by Alonasa</span></a>
            </div>
        </div>
    </div>
</footer>
