{% extends 'travel_fellows/base.html' %}
{% load static %}
{% block extra-styles %}
    <link href="{% static 'css/travel_fellows/style.css' %}">
    <link href="{% static 'img/travel_fellows/flags/image_sprite/ip2location-image-sprite.css' %}" rel="stylesheet">
{% endblock %}
{% load custom_filters %}
{% block body %}
    <header class="page-header page-header--rounded">
        {% include 'travel_fellows/menu.html' %}
        <div class="page-header__content-wrapper page-header__content-wrapper--inner page-header__content-wrapper--no-js">
            <div class="container">
                <div class="page-header__inner-heading-wrapper">
                    <h1 class="heading heading--h1 heading--underline page-header__title">
                        Destinations
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div>
            <section class="user-information">
                <form class="user-form" method="POST" action="{% url 'user' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container">
                        <h2 class="visually-hidden">Personal Information</h2>
                        <div class="user-information__common-wrapper">
                            <div class="user-information__top">
                                <div class="user-information__level">
                                    <svg class="user-information__level-percent" width="100" height="100"
                                         viewBox="0 0 100 100">
                                        <circle r="47" cx="50" cy="50" fill="transparent" stroke="#ff8d30"
                                                stroke-width="3"
                                                stroke-dasharray="251px 63px"></circle>
                                    </svg>
                                    <span class="user-information__level-number">
                                        {% if user.level < 10 %}
                                            {{ user.level|stringformat:"02d"|default:"80" }}
                                        {% else %}
                                            {{ user.level|default:80 }}
                                        {% endif %}</span>
                                    <span class="user-information__level-description">level</span>
                                </div>
                                <div class="user-information__image">
                                    <picture>
                                        <img class="user-information__picture"
                                             src="{% static image|default:'img/travel_fellows/photo-account-mobile@1x.jpg' %}"
                                             alt="photo of {{ user.user.name }} {{ user.user.surname }}" width="100"
                                             height="100">
                                    </picture>
                                </div>
                            </div>
                            <div class="user-information__upload-photo">
                                {{ form.user_photo }}
                                <label class="button button--rounded button--violet user-information__button"
                                       for="upload-photo"><span
                                        class="user-information__button-hidden-text">Change&nbsp;</span>photo
                                </label>
                                {% if form.errors or form.user_photo.errors %}
                                    <div class="form-errors">
                                        {% if form.non_field_errors %}
                                            {% for error in form.non_field_errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}
                                        {% if form.user_photo.errors %}
                                            {% for error in form.user_photo.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="user-information__wrapper">
                                <p class="user-information__title user-information__title--tags">
                                    Hashtags
                                </p>
                                {% if textarea_form %}
                                    {{ textarea_form.as_p }}
                                {% else %}

                                {% endif %}
                            </div>
                            <div class="user-information__wrapper user-information__wrapper--transport">
                                <p class="user-information__title">Transport</p>
                                <ul class="user-information__transport-wrapper">
                                    {{ transportation_form.as_p }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
            <section class="user-plans">
                <div class="container">
                    <div class="user-plans__content-wrapper">
                        <div class="user-plans__heading-wrapper">
                            <h2 class="heading heading--h2 heading--blue user-plans__heading">
                                My plans:
                            </h2>
                        </div>
                        <ol class="user-plans__list">
                            {% if plans %}
                                {% for plan in plans %}
                                    <li class="plan-card user-plans__item">
                                <p class="plan-card__title">
                                    <span class="plan-card__number">{{ forloop.counter }}. </span>
                                    {% for country in plan.destinations %}{{ country }}{% if not forloop.last %},{% endif %} {% endfor %}
                                </p>
                                <div class="plan-card__details-wrapper">
                                    <p class="plan-card__details plan-card__details--teammates">
                                        {{  plan.companions }} companion{% if plan.companions > 1 %}s{% endif %}
                                    </p>
                                    <p class="plan-card__details plan-card__details--dates">
                                        {% load custom_filters %}
                                        {{ plan.dates_start|format_date }} - {{ plan.dates_end|format_date }}
                                    </p>
                                    <a class="plan-card__edit" href="{% url 'update_plan' plan.id %}">
                                        Change
                                    </a>
                                </div>
                            </li>
                                {% endfor %}
                            {% endif %}
                        </ol>
                    </div>
                </div>
            </section>
            {% include 'travel_fellows/trip-form.html' %}
        </div>
    </main>


    {% include 'travel_fellows/footer.html' %}


{% endblock %}

{% block script %}
    <script type="module" src="{% static 'js/travel_fellows/trip-plans.js' %}"></script>
    <script type="module" src="{% static 'js/travel_fellows/trip-countries.js' %}"></script>
{% endblock %}