<section
        class="promo page-header__content-wrapper page-header__content-wrapper--main page-header__content-wrapper--no-js">
    <div class="container container--promo">
        <div class="promo__main-content-wrapper">
            <div class="page-header__title-wrapper page-header__title-wrapper--main">
                <h1 class="heading heading--h1 heading--centered page-header__title page-header__title--main">
                    Travel with cool Fellows
                </h1>
            </div>
            <ul class="promo__contacts-list">
                <li class="promo__contacts-item">
                    <a class="contact-button contact-button--email" href="mailto:mail' %}@h"
                       aria-label="Email us e-mail: mail' %}@htmlacademy.ru">mail' %}@h</a>
                </li>
                <li class="promo__contacts-item">
                    <a class="button button--rounded button--promo" href="authorization.html">Authorise</a>
                </li>
            </ul>
            <div class="promo__quote-wrapper">
                <blockquote class="promo__quote">
                    «The best Application which I ever saw»
                </blockquote>
                <cite class="promo__quote-author">John Do<br>
                    Anonymous user</cite>
            </div>
        </div>
        <div class="promo__instruction-wrapper">
            <ol class="promo__instruction-list">
                <li class="promo__instruction-item" data-number="1">
                    <p class="promo__instruction-text">Choose the Destination</p>
                </li>
                <li class="promo__instruction-item" data-number="2">
                    <p class="promo__instruction-text">
                        Discover Ideas of Fellows
                    </p>
                </li>
                <li class="promo__instruction-item" data-number="3">
                    <p class="promo__instruction-text">
                        Find people with things in common
                    </p>
                </li>
                <li class="promo__instruction-item" data-number="4">
                    <p class="promo__instruction-text">Travel Together!</p>
                </li>
            </ol>
        </div>
    </div>
</section>
