<nav class="d-flex justify-content-between m-4">
    <ul class="d-flex list-unstyled menu align-items-center">
        <li>
            <a href="/">
                Travel <br>Fellows
            </a>
        </li>
        <li>
            <a href="#">
                About
            </a>
        </li>
        <li>
            <a href="#">
                Destinations
            </a>
        </li>

    </ul>
    <ul class="list-unstyled d-flex align-items-center">
        <li class="button button__yellow"><a href="#">Sign in</a></li>
    </ul>
</nav>