{% extends 'travel_fellows/base.html' %}
{% load static %}
{% block body %}
    {% include 'travel_fellows/menu.html' %}
    <section class="registration registration--upped">
        <div class="container">
            <h2 class="heading heading--h2 registration__title">
                {% if login %}Login{% else %} Register {% endif %}
            </h2>
            <p class="text text--white registration__text">
                {% if not login %}
                    Register, it’s quick and free!<br>

                    Already registered? Then
                    <a class="registration__text-url" href="{% url 'authorize' %}">log in</a>.
                {% endif %}
            </p>
            <form class="registration__form" method="POST" action="{{ form_address }}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        {{ field }}
                        {% if field.errors %}
                            <div class="help-block">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="button button--registration registration__submit" type="submit" value="Register">
                    {% if login %} Login {% else %} Register {% endif %}</button>
            </form>
            <p class="text text--white registration__text registration__text--bottom">
                Have questions? <br class="registration__text-br">Make a request!
                <a class="contact-info" href="mailto:mail' %}@h">
                    <svg class="contact-info__icon contact-info__icon--mail" width="18" height="13">
                        <use xlink:href="{% static 'img/travel_fellows/sprite.svg' %}#icon-contacts-mail"></use>
                    </svg>
                    <span class="contact-info__text"></span>mail</a>
            </p>
        </div>
    </section>
    {% include 'travel_fellows/footer.html' %}
{% endblock %}
